/* Customizam Bootstrap */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #2bb686;
  border-color: #2bb686;
}

.text-primary {
  color: #101d42 !important;
}

.text-secondary {
  color: #fbb44c !important;
}

.text-light {
  color: #eaeaea !important;
}

.bg-primary {
  background-color: #141e4c !important;
}

.bg-secondary {
  background-color: #dfedf5 !important;
}

.bg-dark {
  background-color: #101d42 !important;
}

h1, h2, h3 {
  font-weight: bold;
}

/* Adaugam font-ul nostru */
body {
  font-family: "Poppins", sans-serif;
}

/* Layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Header */
header {
  height: 30vh;
}

/* description of each item from 5 day forecast will have cap first letter */
.forecast-item-description::first-letter {
  text-transform: uppercase;
}

/* Scrolltotop icon */
.scroll-to-top {
  visibility: hidden;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: #141e4c;
  font-size: 48px;
  background-color: white;
  border-radius: 50%;
}

/* stilizare pentru acordion*/ 
.acc-header {
  cursor: pointer;
  background-color: #141e4c;
  color: white;
}

.forecast-day {
  padding-right: 16px;
  background-color: #dfedf5;
}

/* adaugam stilizarea pt mobil */
@media (max-width: 576px) {
  .current-weather {
    text-align: center;
  }

  .current-weather img {
    width: 75px;
    height: auto;
  }

  .weather-forecast-box img {
    width: 50px;
    height: auto;
  }

  .weather-forecast-box .forecast-real-feel,
  .weather-forecast-box .forecast-item-description {
    display: none;
  }
}